/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/temp-project
laravel.log
paypal.log
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error_log
